footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    line-height: 1.6;
    margin-top: 30px;
}

footer h2{
    font-size: 40px;
    line-height: 0.5;
}

.footer-icons{
    display: flex;
    justify-content: space-around;
}

.footer-icons a{
    color: black;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

@media(max-width: 1157px){
    footer{
        flex-direction: column;
        text-align: center;
    }
    footer h3{
        text-align: center;
    }
}

@media(max-width: 612px){
    footer h2{
        font-size: 30px;
        line-height: 0.7;
    }
}